.text{
    font-family: 'Ubuntu', sans-serif !important;
    color: #0C0C0C;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}
.textDash{
    color: #207EA9 !important;
}
.text-span{
    color: #686868;
    font-family: 'Ubuntu', sans-serif !important;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text_btn{
    color: #0C0C0C;
    font-family: 'Ubuntu', sans-serif !important;
font-size: 14px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: normal !important;
box-shadow: none !important;
border: none !important;
}